{% extends "blog/base.html" %}
{% block content %}

{% if user.is_active %}
<p>{{ user.username }}님 반갑습니당!!!</p>
<p>{{ user.nickname }}님 반갑습니당!!!</p>
<p><a href = "{% url 'logout' %}">logout</a></p>
{% else %}
<p>You are not logged in</p>
<a href = "{% url 'login' %}">login</a>

{% endif %}

<h1>안녕! 디지몬</h1>
<p>설레이는 이마음은 뭘까?
    왠지잠을 이룰수가 없어
    혹시꿈을 꾸고 있는지 나는 몰라
    
    내가있는 곳 여기가 어딘지
    언제부터 시작되온건지
    아무도 내게 말안해 가르쳐주지않아
    
    눈으로 볼수있는 세상이
    너무나 작다는걸 알았어
    바람에 실려온 세상 저편의
    소식들 궁금해
    
    안녕 디지몬 네꿈을 꾸면서 잠이들래
    안녕 디지몬 친구들 모두안녕
    
    안녕 디지몬 너와함께 하고싶어
    안녕 디지몬 난너를 찾아갈래
    
    어디선가 넌 가만히 다가와
    나의손을 잡아줄것 같아
    미지의 세상 그곳에 나를 데려가줘
    조용히 눈을 감고 있으면
    저 파란하늘 높이 날아가
    모두가 꿈꾸던 환한 세상이 보이는것 같아
    
    안녕 디지몬 네 꿈을 꾸면서 잠이 들래
    안녕 디지몬 친구들 모두안녕 
    
    안녕 디지몬 너와함께하고싶어 
    안녕 디지몬 난너를 찾아갈래 
    
    안녕 디지몬 네 꿈을 꾸면서 잠이들레 
    안녕 디지몬 친구들 모두 안녕 
    
    안녕 디지몬 너와 함께하고 싶어 
    안녕 디지몬 난 너를 찾아갈래</p>

{% endblock %}